<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1073638563525-q4657frbqa7c4frhhgboqitl04kdubha.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1073638563525-q4657frbqa7c4frhhgboqitl04kdubha</string>
	<key>API_KEY</key>
	<string>AIzaSyAHaaakiSLceEyWS-_GqKRCPWTpmH32YoM</string>
	<key>GCM_SENDER_ID</key>
	<string>1073638563525</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lgw9898.Mediku</string>
	<key>PROJECT_ID</key>
	<string>mediku-2322e</string>
	<key>STORAGE_BUCKET</key>
	<string>mediku-2322e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1073638563525:ios:fa176bee92c2481693daac</string>
</dict>
</plist>