<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>310117374810-5geev30o8lra1p5guggevg5h1fld5s22.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.310117374810-5geev30o8lra1p5guggevg5h1fld5s22</string>
	<key>API_KEY</key>
	<string>AIzaSyC2ffAJBraUeh5gL_DfntYxq2yUyUccVso</string>
	<key>GCM_SENDER_ID</key>
	<string>310117374810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lgw9898.Mediku</string>
	<key>PROJECT_ID</key>
	<string>remediku-5c003</string>
	<key>STORAGE_BUCKET</key>
	<string>remediku-5c003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:310117374810:ios:012132a8e61b1db0187163</string>
</dict>
</plist>